html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	color: #1E2021;
}

.header-section {
	width: 910px;
	margin: 0 auto;
	padding: 20px 0 0;
}

p {
	line-height: 26px;
}

.number {
	font-size: 18px;
}
/*начало галереи*/
.wrapper {
	width: 910px;
	margin: 20px auto;
}

.wrapper img {
	cursor: pointer;
}

.show-image {
	background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: center;
}

.show-image-preview {
	display: inline-block;
  position: relative;
  vertical-align: middle;
}

.show-image-preview-number {
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 17px;
  color: #000;
}

.img-close {
	display: inline-block;
	background: url('images/close.png') no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
  font-size: 45px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 20px;
  color: #fff;
}

.control {
  cursor: pointer;
  display: inline-block;
  height: 45px;
  vertical-align: middle;
  width: 25px;
  opacity: 0.7;
  transition: opacity .3s linear;
}

.img-control-right {
	background: url('images/arrow-right.png') no-repeat;
	margin-left: 10px;
}

.img-control-left {
	background: url('images/arrow-left.png') no-repeat;
	margin-right: 10px;
}

.img-control-right:hover,
.img-control-left:hover {
	opacity: 1;
}

.invisible {
	display: none;
}

.bottom-block {
	position: absolute;
  bottom: 5px;
  width: 100%;
  height: 120px;
  background-color: rgba(0,0,0, 0.6);
}
.mini-wrapper {
	position: absolute;
  width: 280px;
  height: 60px;
  bottom: 28px;
  left: 50%;
  margin-left: -140px;
  text-align: center;
}

.mini-photo {
	display: inline-block;
	height: 100%;
	width: 90px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
	opacity: 0.4;
}
/*галерея заканчивается*/

.footer-section {
	width: 910px;
	margin: 40px auto;
}

.download-gallery {
	text-align: center;
}
.gallery {
	display: inline-block;
	margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #1E2021;
  color: #fff;
  text-decoration: none;
}